@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@400;600&display=swap');

html {
	font-family: 'Noto Sans Khmer', sans-serif;
	font-weight: 400;
	/* 16px */
	font-size: var(--type_scale_1);
	line-height: 1.75;
	scroll-padding-top: 5rem;

	--clr_dark: #141414;
	--clr_dark_shade_a: #212121;
	--clr_light: #f3f3f3;

	--clr_primary: #003153;
	--clr_primary_shade_a: #004f86;
	--clr_secondary: #0077cc;
	--clr_secondary_shade_a: #0095ff;
	--clr_secondary_shade_b: #33aaff;

	--clr_grey_shade_a: #444;
	--clr_grey_shade_b: #666;
	--clr_grey_shade_c: #999;
	--clr_grey_shade_d: #ccc;
	--clr_grey_shade_e: #ececec;
	--clr_grey_shade_f: #f7f7f7;

	--type_scale_6: 3.052rem;
	--type_scale_5: 2.441rem;
	--type_scale_4: 1.953rem;
	--type_scale_3: 1.563rem;
	--type_scale_2: 1.25rem;
	--type_scale_1: 1rem;
}
@media screen and (max-width: 40em) {
	html {
		--type_scale_6: calc(3.052rem * 0.75);
		--type_scale_5: calc(2.441rem * 0.75);
		--type_scale_4: calc(1.953rem * 0.75);
		--type_scale_3: calc(1.563rem * 0.75);
		--type_scale_2: calc(1.25rem * 0.75);
		--type_scale_1: calc(1rem * 0.875);
	}
}

/* major third type scale */
p {
	margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 3rem 0 1.38rem;
	font-family: 'Noto Sans Khmer', sans-serif;
	font-weight: 600;
	line-height: 1.3;
}

h1 {
	margin-top: 0;
	font-size: var(--type_scale_6);
}

h2 {
	font-size: var(--type_scale_5);
}

h3 {
	font-size: var(--type_scale_4);
}

h4 {
	font-size: var(--type_scale_3);
}

h5 {
	font-size: var(--type_scale_2);
}

small,
.text_small {
	font-size: 0.8rem;
}

a {
	color: var(--clr_primary);
}

a:hover,
a:focus {
	color: var(--clr_secondary);
}

a:visited {
	color: var(--clr_primary);
}

@media (prefers-color-scheme: dark) {
	a {
		color: var(--clr_secondary_shade_b);
	}

	a:hover,
	a:focus {
		color: var(--clr_secondary_shade_a);
	}

	a:visited {
		color: var(--clr_secondary_shade_b);
	}
}

body {
	background-color: var(--clr_light);
	color: var(--clr_dark);
	max-width: 100%;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--clr_dark);
		color: var(--clr_light);
	}
}

code {
	font-family: 'Courier New', Courier, monospace;
	font-weight: 400;
	color: var(--clr_dark);
	background-color: var(--clr_grey_shade_e);
}

@media (prefers-color-scheme: dark) {
	code {
		color: var(--clr_light);
		background-color: var(--clr_grey_shade_a);
	}
}

.section_top {
	max-width: min(64em, 100%);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0 auto;
	padding: 1rem;
}

.section_top a {
	font-size: 1.25rem;
}

.section_hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: min(64em, 95%);
	margin: 2.5rem auto;
	/* outline: 1px solid green; */
}

.section_hero > div:first-of-type {
	margin-bottom: 1.5rem;
}

@media screen and (max-width: 48em) {
	.section_hero img {
		max-height: 25vw;
		max-width: 25vw;
		object-fit: contain;
	}
}

.section_hero h1,
.section_hero span,
.section_hero p {
	text-align: center;
	line-height: 1.4;
	line-break: auto;
	/* outline: 1px solid red; */
}

@media screen and (max-width: 32em) {
	.section_hero h1 {
		font-size: var(--type_scale_5);
	}
}

.section_hero > div:nth-of-type(2) > span {
	color: var(--clr_dark_shade_b);
}

@media (prefers-color-scheme: dark) {
	.section_hero > div:nth-of-type(2) > span {
		color: var(--clr_grey_shade_d);
	}
}

.section_alpha_nav {
	width: min(40em, 95%);
	max-width: min(40em, 95%);
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding: 1.5rem 0;
	background-color: rgba(0, 0, 0, 0);
	-webkit-backdrop-filter: blur(0.325rem);
	backdrop-filter: blur(0.325rem);
	border-top: 2px solid;
	border-bottom: 2px solid;
	border-color: var(--clr_grey_shade_e);

	font-size: 1.25rem;

	position: -webkit-sticky;
	/* Safari */
	position: sticky;
	top: 0;
}

@media (prefers-color-scheme: dark) {
	.section_alpha_nav {
		border-top-color: var(--clr_dark_shade_a);
		border-bottom-color: var(--clr_dark_shade_a);
	}
}

.section_alpha_nav a {
	text-decoration: none;
	font-size: 1.5rem;
}

.section_alpha_nav a:not(:last-of-type):not(:only-child) {
	margin-right: 0.5rem;
}

.section_main {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	max-width: min(48em, 95%);
	margin: 3.5rem auto;
	margin-bottom: 7.5rem;

	hyphens: auto;
	/* outline: 1px solid red; */
}
@media screen and (max-width: 40em) {
	.section_main {
		line-break: anywhere;
	}
}

.section_main dt {
	line-height: 1.24;
}

.section_main dd {
	line-height: 1.5;
}

.section_main dt {
	font-size: 1.5rem;
	font-weight: 600;
	margin: 0 0 1rem 0;
}
.section_main dt:not(:first-of-type) {
	margin-top: 3.052rem;
}

.section_main dd {
	margin-bottom: 1.25rem;
	font-size: 1.25rem;
	color: var(--clr_grey_shade_a);
}

@media (prefers-color-scheme: dark) {
	.section_main dd {
		color: var(--clr_grey_shade_d);
	}
}
